
CompileFlags:
  Add: 
    - -x 
    - c
    - -I../../deps/mlib
    - -I../../deps/loose-headers/
    - lpq-fe
    - -DDEBUG
    - -Wall
    - -fopenmp
    # - -I/usr/include/glib-2.0 
    # - -I/usr/lib/x86_64-linux-gnu/glib-2.0/include
